:javascript  
  $(document).ready(function() { auto_complete(); });


%section
  .container.bg-white
    .row
      .col-md-6
        %h3
          = @page_title
      
      .col-md-3.mg-top20
        .input-group
          %input.form-control{ id: "search_coll_field", type: "text", onkeypress: "if(event.keyCode == 13){search_collection(); return false;}" }
          %span.input-group-btn
            %button.btn.btn-default{ onclick: "search_collection();" } Go!
      = render partial: "collections/breadcrumb"
    %hr
    .row.maincontent
      = render partial: "collections/collections"
      - if !@collections.blank?
        %center
          .pagination-centered
            = will_paginate @collections