= javascript_include_tag 'names/tree'

.col-md-8{'ng-controller': 'NamesCtrl'}
  %select.width.btn.allcat.text-left{ name: 'hierarchy',
                                      'ng-model': 'hierarchy',
                                      'ng-change': 'loadHierarchy'}
    - @entries.each do |entry|
      %option.text-left{ value: entry.id }
        = entry.label
  %a{'ng-click': 'loadDetails($event, 13)'}
    load details
  %tree-tag


:css
  .parent_node {
    list-style: none;
    cursor: pointer
  }
  .child_node {
    list-style: none;
    cursor: pointer
  }

%script{type: 'text/ng-template', id: 'Node'}
  %li
    %img{'ng-src': '{{nodeIcon}}', 'ng-click': 'isParent() && toggleNode()'}
    {{name}}

%script{type: 'text/ng-template', id: 'Tree'}
  %ul{'ng-init': 'init()'}
    %node-tag{class: 'parent_node', 'ng-repeat': 'dataItem in getParents()',
               id: '{{dataItem.id}}', name: '{{dataItem.name}}',
               'children-count': '{{dataItem.childrenCount}}'}
    %node-tag{class: 'child_node', 'ng-repeat': 'dataItem in getLeaf()',
               id: '{{dataItem.id}}', name: '{{dataItem.name}}'}
