- type ||= nil
- float = (type != "collection") ? "right" : "left"
.averagerate{ style: "float: #{float}", data: "#{rate}" }
-unless type == "collection"
  %span.text-muted
    = I18n.t('common.avg_rating')