%link{ "type" => "text/css", "rel" => "stylesheet", "href" => "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" }

:javascript
  $(document).ready(function() {
   load_user_rating("#{user_rate}");
   $('#star1, #star2, #star3, #star4, #star5').click(function () {
    rate_object(#{session[:user_id] || "null"}, "#{rateable_id}", "#{rateable_type}",  parseInt($(this).attr("value")));
   });
  });



%li#star1.starrating{ value: '1' }
  %i.fa.fa-star    
%li#star2.starrating{ value: '2' }
  %i.fa.fa-star   
%li#star3.starrating{ value: '3' }
  %i.fa.fa-star   
%li#star4.starrating{ value: '4' }
  %i.fa.fa-star   
%li#star5.starrating{ value: '5' }
  %i.fa.fa-star   