= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js'
= javascript_include_tag 'dialog/sweetalert.min'
= stylesheet_link_tag 'dialog/sweetalert'

:javascript
  var bhlApp = angular.module('bhlApp', []);
