.col-md-3
  %a{ href: "/" }
    = image_tag("/images_#{I18n.locale}/#{I18n.t('header.logo.logo')}", alt: I18n.t('header.logo.bhl_site_name'), title: I18n.t('header.logo.bhl_site_name'), class: "hidden-xs img-responsive")