.col-md-3
  %a{ href: "/" }
    = image_tag("/images_#{I18n.locale}/#{I18n.t('common.logo')}", alt: I18n.t('common.bhl_site_name'), title: I18n.t('common.bhl_site_name'), class: "hidden-xs img-responsive")