%meta{ "content" => "text/html; charset=utf-8", "http-equiv" => "Content-type" }  
%meta{ "http-equiv" => "X-UA-Compatible", "content" => "IE=edge" }
%meta{ "name" => "viewport", "content" => "width=device-width", "initial-scale" => "1.0" }
- page_description = @page_description.nil? ? "" : @page_description
%meta{ "name" => "description", "content" => page_description }
- author = @page_author.nil? ? "" : @page_author
%meta{ "name" => "author", "content" => author }