%title
  - # Accessibility tip: Page titles should be unique and meaningful to the page and include the site name.
  - # Home page title can just be the site name.
  - page_title =  I18n.t("header.page_title.bhl_page_title")
  - if @page_title
    - page_title = I18n.t('header.page_title.bhl_short_title') + " - #{@page_title}"
  &= strip_tags(page_title)