- if !is_logged_in?
  %li
    = link_to I18n.t('common.signup'), new_user_path(locale: I18n.locale)
- else
  %li
    = link_to I18n.t('common.signout'), logout_user_path(locale: I18n.locale, id: session["user_id"])
- if !is_logged_in?
  %li
    = link_to I18n.t('common.login'), login_users_path(locale: I18n.locale)
- else
  %li
    = link_to I18n.t('common.profile'), controller: "users", action: "show", id: session["user_id"], tab: nil, locale: I18n.locale
