.panel.panel-default
  .panel-body
    %h4.alert.alert-success
      = I18n.t('common.book_count', count: number_with_delimiter(@statistics[:books]))
    %h4.alert.alert-warning
      = I18n.t('common.author_count', count: number_with_delimiter(@statistics[:authors]))
    %h4.alert.alert-info
      = I18n.t('common.species_count', count: number_with_delimiter(@statistics[:names]))
