%section
  .container.bg-white
    .row
      .col-md-12.text-center
        
    = render partial: 'pages/top_collections'      
    = render partial: 'pages/top_books', locals: { top_books: @most_viewed_response[:volumes], top_criteria: 'views' }