- if covertitle.length > 40
  - covertitle = "#{covertitle.html_safe[0..40]}..."
- else
  - covertitle = covertitle.html_safe



.col-sm-3
  .book.book1
    .book-content
      %h5
        = covertitle
      .mg-top20{ "align" => "center"}
        %a.btn.btn-info{ :href => "#{book_path(id: id, tab: 'read')}", target: "_blank" }
          = I18n.t('common.read')
        

