:javascript
  $(document).ready(function() {
    load_carousel("#{params[:id]}", "collections");
    load_carousel("#{params[:id]}", "alsoviewed");
    load_carousel("#{params[:id]}", "related");
  });






.row.mg-top40
  %a{:id=>"collectionsfound"}
  .col-md-4{ id: "alsoviewed_carousel" }
  .col-md-4{id: "collections_carousel" }
  .col-md-4{id: "related_carousel" }
  