:javascript
  $(document).ready(function() {
    load_carousel("#{params[:id]}", "collections");
    load_carousel("#{params[:id]}", "alsoviewed");
    load_carousel("#{params[:id]}", "related");
  });

.col-md-12
  %a{:id=>"collectionsfound"}
  #alsoviewed_carousel
  #collections_carousel
  #related_carousel