%script{ :src => "https://maps.googleapis.com/maps/api/js"}
= javascript_include_tag 'geographics'

.container
  .row
    .col-md-12{ "ng-controller" => "MapCtrl", "ng-init" => "setSelectPins()" }
      %h2
        = @page_title
      .well
        = render partial: "pins"
      %center 
        #map

